/* @font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("./styles/fonts/GmarketSansBold.otf") format("otf"),
    url("./styles/fonts/GmarketSansTTFBold.otf") format("truetype");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 600;
  font-style: normal;
  src: url("./styles/fonts/GmarketSansMedium.otf") format("otf"),
    url("./styles/fonts/GmarketSansTTFMedium.ttf") format("truetype");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  src: url("./styles/fonts/GmarketSansLight.otf") format("otf"),
    url("./styles/fonts/GmarketSansTTFLight.otf") format("truetype");
} */
